body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
.container{
    background-color:bisque;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    gap:10px;
    position: relative;
    transition: background-color 0.3s ease;
}
.attendanceform{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:100%;
}
.classes{
    padding:8px;
    border-radius:5px;
    border:1px solid #ccc;
    width:100%;
    box-sizing: border-box;
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
}
label{
    font-weight:bold;
    text-align: center;
}
h2, h3{
    text-align: center;
    margin-bottom: 10px;
}
.button{
    padding:10px;
    border:none;
    border-radius:5px;
    background-color:darkkhaki;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top: 20px;
    width: 200px;
    margin-left: 43px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.color-picker{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.color-btn{
    width:20px;
    height:20px;
    border-radius:100%;
    border:none;
    cursor:pointer;
    border:white 2px solid;
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
}